body {
  height: max-content;
}

$fa-font-path: 'assets/fontawesome/webfonts';
// importing core styling file
@import 'assets/fontawesome/scss/fontawesome.scss';

// our project needs Classic Solid, Brands, and Sharp Solid
@import 'assets/fontawesome/scss/solid.scss';
@import 'assets/fontawesome/scss/brands.scss';
* {
  margin: 0;
  box-sizing: border-box;
}

.containerForWrapperBanner {
  width: 100%;
  position: relative;
  height: 100vh;

  .videoBanner {

    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    z-index: 10;
  }

  .bannerContent {
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    .divForLogoAndNav {
      position: fixed;
      top: 0;
      height: max-content;
      z-index: 10000;
      max-width: 1140px;
      left: 50%;
      transform: translate(-50%);
      width: 90Vw;
    }

    .bannerTitle {
      gap: 15px;
      z-index: 10000;
      max-width: 1140px;
      width: 90Vw;
      display: flex;
      flex-direction: column;
      padding-left: 50px;
      height: max-content;
      position: relative;

      &:before {
        content: "";
        width: 6px;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        background-color: blueviolet;
        border-radius: 41px;
      }

      h1 {
        color: white;
        letter-spacing: 5px;
        font-family: "Orbitron", sans-serif;
        text-transform: uppercase;
      }

      h2 {
        font-size: 17px;
        color: white;
        font-weight: normal;
        font-family: Arial, sans-serif;
        text-transform: uppercase;
      }

      button {
        margin-top: 30px;
        background: linear-gradient(98.73deg, #592fb6 0, #6e6be8 100%);
        border-right: 1px solid #6e6be8;
        width: max-content;
        padding: 13px 36px;
        border-radius: 7px;
        color: white;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: "Orbitron", sans-serif;
        font-weight: 900;
        transition: 300ms;

        &:hover {
          cursor: pointer;
          background: linear-gradient(98.73deg, #5837a5 0, #4d4acd 100%);
        }
      }

    }

  }

}


.containerForWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .backgroundWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    height: max-content;
    z-index: 10000;
    max-width: 1140px;


    &.white {
      background-color: white;

    }

    &.backForHeader {
      background: rgb(49, 58, 89);

      background: linear-gradient(90deg, rgba(49, 58, 89, 1) 0%, rgba(68, 101, 144, 1) 35%, rgba(93, 165, 228, 1) 100%);


    }


    &.backForBottomNavUnderHeader {
      background-color: #2A2941;
    }

    &.navOfAllCategories {
      background-color: #111324;
      display: none;
    }

    &.footerBack {
      background-color: white;
    }

    &.colorOfFindAnswers {
      background-color: #F6F6F7;
    }

    &.colorForWhyUsLove {
      background-color: #111324;
    }

  }
}

.contentWrapperShort {
  max-width: 1240px;
  width: 100%;
  min-height: 10px;
  padding-left: 20px;
  padding-right: 20px;


}

.contentWrapperWide {
  max-width: 1440px;
  width: 100%;
  min-height: 10px;
  padding-left: 20px;
  padding-right: 20px;

  &.fixed {

  }
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.disabled {
  cursor: not-allowed !important;
}

.blockForIcon {
  display: flex;
  position: fixed;
  bottom: 90px;
  right: 22px;
  z-index: 2000;

  img {
    width: 50px;
  }

  .iconOfChat {
    font-size: 50px;
    color: #599AD5;
    filter: drop-shadow(1px 2px 2px black);
    transition: 400ms ease;
  }

  span {
    position: absolute;
    color: #585858;
    font-weight: 500;
    top: -4px;
    right: 4px;
    text-shadow: 0px 1px 1px black;
    z-index: 2005;
    font-size: 14px;
    transform: rotate(330deg);
  }

  &:hover {
    cursor: pointer;
    scale: 1.02;
    color: #287ac5;
  }
}

