:root {
  --background-color: white;
  --text-color: black;
  --color: #3a3a3a;
  --color_chat: #151515;
  --header-background-color: #f4f4f4;
  --header-border-color: #2f2f72;
  --highlight-color: #000000;
  --popup-background-color: rgba(255, 255, 255, 0.86);
  --popup-shadow-color: #e7e7e7;
  --input-background-color: #F4F4F4;
  --input-border-color: #a6a6a6;
  --input-focus-border-color: rgba(0, 22, 136, 0.69);
  --send-button-background-color: #0075dd;
  --send-button-background-color-hover: #0f80e4;
  --send-button-active-background-color: black;
  --send-button-icon-color: white;
  --content-color: #000073;
  --element-hover-background-color: #ececec;
  --inputColor: #2d2d2d;
}

.dark-theme {
  --background-color: black;
  --text-color: white;
  --color: #f3f3f3;
  --color_chat: white;
  --header-background-color: #121212;
  --header-border-color: #111324;
  --highlight-color: #000000;
  --popup-background-color: rgba(33, 33, 33, 0.86);
  --popup-shadow-color: #444444;
  --input-background-color: #333333;
  --input-border-color: #555555;
  --input-focus-border-color: rgba(255, 255, 255, 0.69);
  --send-button-background-color: #555555;
  --send-button-background-color-hover: #707070;
  --send-button-active-background-color: #333333;
  --send-button-icon-color: black;
  --content-color: #f1f1f1;
  --element-hover-background-color: #555555;
  --inputColor: #ffffff;
}

.windowOfChat {
  width: 100%;
  height: 100%;
  display: none;
  background-color: var(--background-color);
  z-index: 15000;
  position: fixed;
  flex-direction: column;
  column-gap: 50px;
  /// border-bottom: 7px solid var(--header-background-color);
  .topBeltBackgroundBlue{
    height: 15px;
    width: 100%;
     background: linear-gradient(90deg, rgb(12, 41, 124) 0%, rgba(13, 1, 91, 1) 98%);
  }
  .topBeltBackground {
    height: 60px;
    width: 100%;
    background: rgb(46, 92, 251);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3px;
    column-gap: 10px;
    background:  #212224;
    padding-right: 10px;
      gap: 20px;
    a {
      font-size: 19px;
      color: white;
    &.active{
      background: #0075dd;
      padding: 5px 10px;
      border-radius: 13%;
    }

    }

    .login {
      text-transform: uppercase;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      padding: 4px;
      color: white;;
      border-radius: 4px;
      cursor: pointer;

      i {

      }
    }
  }

  .popUpNoAnswer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(33, 33, 33, 0.27);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 20000;
    top: 0;

    .popUp {
      background-color: var(--popup-background-color);
      padding: 20px 50px;
      width: 450px;
      display: flex;
      justify-content: center;
      align-items: start;
      box-shadow: 0px 0px 1px 1px var(--popup-shadow-color);
      flex-direction: column;
      border-radius: 5px;
      position: relative;
      background: linear-gradient(180deg, var(--popup-background-color) 30%, hsla(0, 0%, 100%, 0.5) 100%);

      .fa-x {
        position: absolute;
        right: 10px;
        top: 10px;
        cursor: pointer;
        color: var(--color_chat);;

        &:hover {
          scale: 1.05;
        }
      }

      .title {
        color: var(--text-color);
        font-size: 25px;
        margin-bottom: 20px;
      }

      span {
        color: var(--text-color);
        font-size: 18px;
        letter-spacing: 1px;
      }
    }
  }


  .containerForParts {
    flex-grow: 200;
    width: 100%;
    display: flex;
    background-color: var(--background-color);

    @media (max-width: 700px) {
      padding: 10px 10px;
    }

    .leftPart, .rightPart {
      background-color: #212224;
      min-width: 20vw;
      display: flex;
      flex-direction: column;
      row-gap: 7px;
      padding: 10px;

      button, input {
        color: white;

        &:hover {
          background-color: rgba(237, 237, 237, 0.11);
          cursor: pointer;
        }


      }

      .noData {
        display: flex;
        flex-direction: column;
        row-gap: 4px;
        margin: 0 auto;
        margin-top: 50px;
        color: #7c7c7c;
        align-items: center;
        justify-content: center;
        font-size: 20px;

      }

      .topBlock {
        display: flex;
        width: 100%;
        column-gap: 10px;


        button {
          background-color: transparent;
          border-radius: 5px;
          border: 1px solid #5a5a5a;
          padding: 17px;

          &:hover {
            background-color: rgba(237, 237, 237, 0.11);
            cursor: pointer;
          }

          &:first-of-type {
            flex-grow: 100;
          }
        }
      }

      .search {
        width: 100%;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid #5a5a5a;
        padding: 17px;
      }

    }

    .leftPart {


      .bottom {
        border-top: 1px solid #5a5a5a;
        padding-top: 10px;
        display: flex;
        row-gap: 10px;
        flex-direction: column;

        button {
          display: flex;
          column-gap: 15px;

          width: 100%;

          background-color: transparent;
          border-radius: 5px;
          border: 1px solid #5a5a5a;

          &.noFrame {
            border: none;
          }

          padding: 17px;

          &:hover {
            background-color: rgba(237, 237, 237, 0.11);
            cursor: pointer;
          }
        }

      }

      .center {
        flex-grow: 1000;
        margin-top: 20px;
        padding-top: 11px;
        border-top: 1px solid #5a5a5a;
        display: flex;
        flex-direction: column;
  gap:10px;
        .element {
          width: 100%;
          background-color: rgba(160, 162, 255, 0.07);
          border-radius: 5px;
          border: 1px solid #5a5a5a;
          padding: 17px;
          color: white;
          display: flex;
          column-gap: 15px;
          &:hover{
            cursor: pointer;   background-color: rgba(160, 162, 255, 0.09);
          }
          span {
            flex-grow: 100;
          }

          .lighter {

            color: #a8a8a8;

            &:hover {
              cursor: pointer;
              color: #d1d1d1;
            }

          }
        }
      }
    }

    .rightPart {


    }


    .centerPart {
      display: flex;
      flex-direction: column;
      align-items: center;

      flex-grow: 100;

      @media (max-width: 600px) {
        max-width: 100vw;
      }

      .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: var(--header-background-color);
        border-bottom: 1.5px solid var(--header-border-color);
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        $color: var(--color);

        & > i {
          color: $color;
          font-size: 22px;

          &:hover {
            color: var(--color_chat);
            cursor: pointer;
          }

          &:first-of-type {
            padding-right: 3px;
            border-right: 3px solid $color;

          }

          &:last-of-type {
            padding-right: 3px;
            border-right: 3px solid $color;

          }
        }

        .topBelt {
          width: 100%;
          padding: 10px 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          @media (max-width: 700px) {
            padding: 10px 5px;
          }

          /*   .leftContainer {
               display: flex;
               align-items: center;
               column-gap: 40px;
               flex-grow: 100;
               @media (max-width: 700px) {
                 column-gap: 5px;
               }
   */
          .borderIcon {
            a, i, button {
              // &:not(:last-of-type) {

              padding-left: 7px;
              margin-left: 7px;
              border-left: 2px solid $color;

              &:hover {
                i, a, button {
                  //      color: var(--highlight-color);
                }
              }

            }
          }

          .fa-headset {
            padding-right: 7px;
          }

          .blockForImgAndA {
            display: flex;
            align-items: center;
            // column-gap: 5px;

            a {
              text-decoration: none;
              color: $color;
              font-size: 17px;
              letter-spacing: 2px;
              transition: 400ms ease;
              @media (max-width: 700px) {
                font-size: 12px;
              }


            }


            i {
              color: $color;

              @media (max-width: 500px) {
                display: none;
              }
            }


            i, a {
              &:hover {
                //    color: var(--highlight-color);
              }
            }


          }


          /* }*/

          .rightContainer {
            display: flex;
            column-gap: 9px;
            padding-right: 10px;
            align-items: center;

            i {
              border-left: 3px solid $color;
              padding-left: 7px;
            }

            i:hover {
              cursor: pointer;
            }


            .spanClose {
              color: white;
              font-size: 25px;
              transition: 400ms ease;


              &:hover {
                cursor: pointer;
              }
            }
          }
        }
      }

      .bottom {
        flex-grow: 100;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 8px;
        row-gap: 8px;
        //padding-right: 20px;
        position: relative;
        justify-content: center;
        max-width: 70vw;
        width: 100%;


        .logoAndTitle {
          display: flex;
          align-items: center;
          margin-bottom: 3px;
          max-width: 95%;

          .image {
            width: 55px;
            margin-right: 20px;
          }

          .title {
            font-size: 34px;
            color: var(--content-color);
            text-shadow: 0px 0px 1px gray;
            letter-spacing: 4px;
          }
        }

        .blockForContentAndImage {
          display: flex;
          align-items: center;
          padding-bottom: 60px;
          flex-grow: 1000;

          max-width: 100%;

          .content {
            font-size: 20px;
            letter-spacing: 2px;
            color: var(--content-color);
            text-shadow: 0px 0px 1px gray;
          }

          .imageOfChat {
            width: 180px;
          }
        }

        .blockForCommunication {
          display: none;
          flex-direction: column;
          position: relative;
          width: 100%;
          height: 400px;
          flex-grow: 100;
          overflow-y: auto;

          max-width: 100%;
          row-gap: 10px;

          .bot {
            padding: 8px 10px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            background-color: rgba(255, 255, 255, 0.33);
            padding-left: 40px;
            padding-right: 40px;

            img {
              width: 30px;
              margin-right: 10px;
              height: min-content;
            }

            span {

              //     color: #151515;
              color: var(--color_chat);
              padding: 15px 8px;
              border-radius: 5px;
              font-size: 18px;
              height: auto;
              word-wrap: break-word;
            }
          }

          .client {
            padding: 8px 10px;
            width: 100%;
            display: flex;
            justify-content: flex-start;
            background-color: rgba(241, 241, 241, 0.33);
            border-top: 1px solid #dfdfdf;
            border-bottom: 1px solid #dfdfdf;
            padding-left: 55px;
            padding-right: 55px;

            span {


              color: var(--color_chat);
              padding: 15px 8px;
              border-radius: 5px;
              font-size: 18px;
              height: auto;
              word-wrap: break-word;
            }
          }
        }

        .textUnderInput {
          color: #595959;
          margin: 0;
          padding: 0;
        }

        .blockForInputAndBtnSend {
          display: flex;
          align-items: center;
          width: 900px;
          position: relative;
          margin-top: 20px;
          overflow: hidden;

          max-width: 95%;

          .searchInputChat {
            padding: 12px 15px;
            border-radius: 5px;
            background-color: var(--input-background-color);
            font-size: 17px;
            color: var(--inputColor);
            width: 100%;
            border: 2px solid var(--input-border-color);
            overflow: hidden;

            &:focus, &:focus-within {
              outline: none;
              border: 2px solid var(--input-focus-border-color);
            }
          }

          .btnSend ,.btnSendFile{
            background-color: var(--send-button-background-color);
  color: white;
            display: flex;
            gap:10px;
            align-items: center;
            font-size: 20px;
            height: 45px;
         padding: 5px 13px;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-left: 5px;
            border: none;
            border-radius: 8px;
            transition: 450ms ease;
            i{
              transition: 450ms ease;

            }
            &:hover {
              cursor: pointer;  background-color: var(--send-button-background-color-hover);
              i{

              //color: #1c1c1c;
              }
            }
            &.isActive {
              background-color: var(--send-button-active-background-color);


            }

            i {
              font-size: 24px;
              color: var(--send-button-icon-color);
            }
          }
        }
      }

    }


  }
}

.color {
  transition: 100ms;
  // font-size: 18px;
  color: white;
  position: relative;

  &.is-active {
    top: -2px;
    transform: rotate(-180deg);
  }
}
