.windowOfChat {
  width: 100%;
  height: 100%;
  display: none;
  background-color: black;
  z-index: 15000;
  position: fixed;
  flex-direction: column;
  column-gap: 50px;
  border-bottom: 7px solid #111324;
}
.windowOfChat .popUpNoAnswer {
  width: 100vw;
  height: 100vh;
  background-color: rgba(33, 33, 33, 0.27);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 20000;
  top: 0;
}
.windowOfChat .popUpNoAnswer .popUp {
  background-color: rgba(255, 255, 255, 0.86);
  padding: 20px 50px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: start;
  box-shadow: 0px 0px 1px 1px #e7e7e7;
  flex-direction: column;
  border-radius: 5px;
  position: relative;
  background: linear-gradient(180deg, hsl(0, 0%, 100%) 30%, hsla(0, 0%, 100%, 0.5) 100%);
}
.windowOfChat .popUpNoAnswer .popUp .fa-x {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.windowOfChat .popUpNoAnswer .popUp .fa-x:hover {
  scale: 1.05;
}
.windowOfChat .popUpNoAnswer .popUp .title {
  color: #0c0c0c;
  font-size: 25px;
  margin-bottom: 20px;
}
.windowOfChat .popUpNoAnswer .popUp span {
  color: #0c0c0c;
  font-size: 18px;
  letter-spacing: 1px;
}
.windowOfChat .topBelt {
  width: 100%;
  background-color: #111324;
  padding: 10px 20px;
  border-bottom: 1.5px solid #2f2f72;
  display: flex;
  align-items: center;
}
.windowOfChat .topBelt .leftContainer {
  display: flex;
  align-items: center;
  column-gap: 40px;
  flex-grow: 100;
}
.windowOfChat .topBelt .leftContainer .blockForImgAndA {
  display: flex;
  align-items: center;
}
.windowOfChat .topBelt .leftContainer .blockForImgAndA a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  letter-spacing: 2px;
  transition: 400ms ease;
}
.windowOfChat .topBelt .leftContainer .blockForImgAndA i {
  color: white;
  margin-right: 5px;
}
.windowOfChat .topBelt .leftContainer .blockForImgAndA:hover i, .windowOfChat .topBelt .leftContainer .blockForImgAndA:hover a {
  color: #51CFDB;
}
.windowOfChat .topBelt .rightContainer {
  display: flex;
  column-gap: 18px;
  padding-right: 10px;
  align-items: center;
}
.windowOfChat .topBelt .rightContainer i:hover {
  cursor: pointer;
}
.windowOfChat .topBelt .rightContainer .color {
  transition: 100ms;
  font-size: 22px;
  color: white;
}
.windowOfChat .topBelt .rightContainer .color.is-active {
  transform: rotate(-180deg);
}
.windowOfChat .topBelt .rightContainer .spanClose {
  color: #ffffff;
  font-size: 25px;
  transition: 450ms ease;
}
.windowOfChat .topBelt .rightContainer .spanClose:hover {
  cursor: pointer;
}
.windowOfChat .containerForTwoParts {
  flex-grow: 200;
  width: 100%;
  display: flex;
  background-color: white;
  padding: 40px 60px;
}
.windowOfChat .containerForTwoParts .leftPart {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 70;
  row-gap: 15px;
  padding-right: 20px;
}
.windowOfChat .containerForTwoParts .leftPart .logoAndTitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.windowOfChat .containerForTwoParts .leftPart .logoAndTitle .image {
  width: 55px;
  margin-right: 20px;
}
.windowOfChat .containerForTwoParts .leftPart .logoAndTitle .title {
  font-size: 34px;
  color: #000073;
  text-shadow: 0px 0px 1px gray;
  letter-spacing: 4px;
}
.windowOfChat .containerForTwoParts .leftPart .blockForContentAndImage {
  display: flex;
  align-items: center;
  padding-bottom: 60px;
  flex-grow: 1000;
}
.windowOfChat .containerForTwoParts .leftPart .blockForContentAndImage .content {
  font-size: 20px;
  letter-spacing: 2px;
  color: #000073;
  text-shadow: 0px 0px 1px gray;
}
.windowOfChat .containerForTwoParts .leftPart .blockForContentAndImage .imageOfChat {
  width: 180px;
}
.windowOfChat .containerForTwoParts .leftPart .blockForCommunication {
  display: none;
  flex-direction: column;
  position: relative;
  width: 900px;
  height: 400px;
  flex-grow: 100;
  overflow-y: auto;
}
.windowOfChat .containerForTwoParts .leftPart .blockForCommunication .bot {
  padding: 8px 10px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.windowOfChat .containerForTwoParts .leftPart .blockForCommunication .bot img {
  width: 30px;
  margin-right: 10px;
  height: min-content;
}
.windowOfChat .containerForTwoParts .leftPart .blockForCommunication .bot span {
  background-color: #f1f1f1;
  color: #151515;
  padding: 8px;
  border-radius: 5px;
  font-size: 18px;
  height: auto;
  word-wrap: break-word;
}
.windowOfChat .containerForTwoParts .leftPart .blockForCommunication .client {
  padding: 8px 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.windowOfChat .containerForTwoParts .leftPart .blockForCommunication .client span {
  background-color: #f1f1f1;
  color: #151515;
  padding: 8px;
  border-radius: 5px;
  font-size: 18px;
  height: auto;
  word-wrap: break-word;
}
.windowOfChat .containerForTwoParts .leftPart .blockForInputAndBtnSend {
  display: flex;
  align-items: center;
  width: 900px;
  position: relative;
  margin-top: 20px;
  overflow: hidden;
}
.windowOfChat .containerForTwoParts .leftPart .blockForInputAndBtnSend .searchInputChat {
  padding: 12px 15px;
  border-radius: 5px;
  background-color: #F4F4F4;
  font-size: 17px;
  color: #2d2d2d;
  width: 100%;
  border: 2px solid #a6a6a6;
  overflow: hidden;
}
.windowOfChat .containerForTwoParts .leftPart .blockForInputAndBtnSend .searchInputChat:focus, .windowOfChat .containerForTwoParts .leftPart .blockForInputAndBtnSend .searchInputChat:focus-within {
  outline: none;
  border: 2px solid rgba(0, 22, 136, 0.69);
}
.windowOfChat .containerForTwoParts .leftPart .blockForInputAndBtnSend .btnSend {
  background-color: #D7D7D7;
  position: absolute;
  width: 35px;
  height: 35px;
  right: 5px;
  bottom: 5px;
  border: none;
  border-radius: 100%;
  transition: 450ms ease;
}
.windowOfChat .containerForTwoParts .leftPart .blockForInputAndBtnSend .btnSend.isActive {
  background-color: black;
}
.windowOfChat .containerForTwoParts .leftPart .blockForInputAndBtnSend .btnSend.isActive:hover {
  cursor: pointer;
}
.windowOfChat .containerForTwoParts .leftPart .blockForInputAndBtnSend .btnSend i {
  font-size: 24px;
  color: white;
}
.windowOfChat .containerForTwoParts .rightPart {
  display: flex;
  flex-direction: column;
  flex-grow: 30;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  row-gap: 10px;
  border-left: 1px solid rgba(205, 205, 205, 0.7);
}
.windowOfChat .containerForTwoParts .rightPart h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 2rem;
  border-bottom: 1px solid rgba(205, 205, 205, 0.7);
}

/*# sourceMappingURL=chatGPT.css.map */
